@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


html {
    font-family: 'Cabin', sans-serif;
    height: 100%;
    position: relative;
  }
  
  .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
  /*--------Nav--*/
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(67, 95, 81);
    background-color: rgba(67, 95, 81, 0.96);
    overflow-y: hidden;
    transition: 0.5s;
    
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 10;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #d7d7c1;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-shadow: 0 0 5px #fff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  span {
      color: aliceblue;
      float: right;
      margin-right: 20px;
      z-index: 2;
  }
  /*-------Landing Page---*/
  #landing-img {
    /*background-image: url(../../assets/img/guitar3.png);*/
    background-image: url(https://github.com/pbtrad/Project-idea-5/blob/master/assets/img/guitar3.png?raw=true);
    filter: sepia(30%);
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -100;
    animation-name: img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transition: all 1000ms;
    font-family: 'Cabin', sans-serif;
  }


  @keyframes img-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    /*z-index: 1;*/
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    margin-bottom: 12rem;
    background-color: rgba(67, 95, 81, 0.96);
    color: #fafafa;
}

.btn-lg:hover {
  background-color: #999966;
  color: #fafafa;
}
   /*-----Footer----*/
   

/*.footer a {
    font-size: 4rem;
    padding: 4rem;
    color: #999966;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer a:hover {
    color: #f5f5f0;
    text-shadow: 0 0 20px #fff;
}
#footer-links {
  position: fixed;
  margin-right: 2rem;
  margin-bottom: 1.7rem;
} 

#footer-links a {
  margin-right: 4rem;
  font-size: 1.7rem;
  color: #999966;
}

#footer-links a:hover {
  color: #f5f5f0;
}

/*section div {
  position: absolute;
}*/


/*---------Bio----*/

#bio-body {
  background-image: url(https://github.com/pbtrad/Project-idea-5/blob/master/assets/img/guitarbioblue.png?raw=true);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}
  
#bio-section-top {
  display: inline-block;
  margin-top: 10%;
}
/*#bio-container {
  width: 43%;
  position: absolute;
  top: 12%;
  color: white;
  left: 12%;
  margin-bottom: 6rem;
}

#bio-container h1 {
  text-transform: uppercase;
  padding-bottom: 40px;
  font-size: 4rem;
}

#bio-container p {
  font-size: 2rem;
}*/

/*------Section Footer---*/

footer {
  background-color: rgba(0, 0, 0, 0.7);
 position: absolute;
 bottom: 0;
 width: 100%;
}
 footer a {
  color: #fafafa;
}

footer svg.svg-inline--fa {
  font-size: 2.5rem;
  margin: 1.2rem .5rem 0 0;
  color: #fafafa;
}

footer svg.svg-inline--fa:hover {
  color: #b6a2d1!important;
}

.footer-copyright {
  color: #fafafa;
}

 /*-----Media Gallery---*/
 #media-body {
     background-image: url("../assets/img/mooncloud.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Cabin', sans-serif;
 }
 

  /*-------Video----*/
/*video {
    padding-bottom: none;
    padding-top: 2rem;
    height: auto;
    
}*/


/*---Carousel*/

#media2-body {
  background-image: url(https://github.com/pbtrad/Project-idea-5/blob/master/assets/img/mediabgtrees2.png?raw=true);
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.carousel .carousel-inner {
  height: 700px;
  padding-top: 4rem;
  width: 100%;
  }


.carousel-inner .carousel-item img {
  min-height:200px;
  object-fit:cover;
  width: 100%;
  }
  
  .iframe-container {
    overflow: hidden;
    margin-top: 2rem;
    padding-top: 56.25%;
    position: relative;
    
  }
   
  .iframe-container iframe {
     border: 0;
     height: 85%;
     left: 25%;
     position: absolute;
     top: 0;
     width: 48%;
  }
/*-------Contact--*/

#contact-body {
  font-family: 'Cabin', sans-serif;
  background-image: url(https://github.com/pbtrad/Project-idea-5/blob/master/assets/img/contacttree.png?raw=true);
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: cover;*/
  
}

/*.img-fluid {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  /*margin-left: 80px;
  
}*/
#album-cover-contact .img-fluid{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*#contact-form {
  max-width: 100%;
  height: auto;
}*/

form {
    top: 6rem;
    margin-bottom: 2rem;
    color: #fafafa;
    max-width: 100%;
    height: auto;
}

form p {
    text-transform: uppercase;
}

form .btn {
    max-width: 100%;
    background-color: rgba(26, 4, 48, 0.8);
    color: #fafafa;
    border: solid rgba(103, 80, 124, 0.8) 2px;
}
form .btn:hover {
  background-color: rgba(103, 80, 124, 0.8);
}

#album-img {
  width: 500px;
  height: auto;
  float: right;
  margin-bottom: 7rem;
}

#album-info {
  margin-bottom: 6rem;
  position: absolute;
  width: 200px;
  right: 800px;
  top: 1250px;
  background-color: #fff;
  text-transform: uppercase;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px;
  background-color: rgba(103, 80, 124, 0.8);
  color: #fafafa;
}

#album-info h3 {
  padding-top: 28px;
  text-shadow: rgba(0, 0, 0, 0.4) 3px 3px;
  
}

#album-info a {
  color: #fafafa;
  background-color: #3E7088;
  margin-bottom: 2rem;
  margin-top: 20px;
  margin-left: 28px;
  text-shadow: rgba(0, 0, 0, 0.4) 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px;
}

#album-info a:hover {
  background-color: #1E3742;
}

/*---------Media Queries----*/
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /*---Tablet*/
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .card {
      right: 28px;
    }
    #bio-container {
      width: auto;
      left: 35px;
     }

     #album-img {
      z-index: -1;
      position: relative;
    }

     #album-info {
      height: auto;
      position: static;
     float: left;
     margin-left: 25px;
     margin-top: 100px;
     z-index: 2;
     
    }

    #contact-form {
      width: 60%;
    }

    form {
      margin-bottom: 0px;
    }

    /*form .btn {
      width: 60%;
    }*/
    #footer-links {
      display: none;
    } 
    
    #footer-links a {
      display: none;
    }
    
    .carousel .carousel-inner {
      height: 450px;
      }
      video {
        margin-top: 5.8rem;
      }
      .img-fluid {
        margin-left: auto;
      }
  }

/*-----Mobile*/
@media screen and (max-width: 600px) {
    
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-bottom: 4rem;
    }
    footer a {
        font-size: .5rem;
    }

    section {
        height: 3rem;
    }
    
    section a {
        font-size: 2rem;
        padding: 0;
    }

    .column {
        flex: 100%;
        max-width: 100%;
      }

      video {
        padding-bottom: 4rem;
    }

    #contact-form {
      width: 100%;
    }

    form {
        width: auto;
        color: #fafafa;
        margin-bottom: 30px;
    }

    .card {
      left: 25px;
      width: 18rem;
    }

    .col-md-5 {
      bottom: 160px;
    }

    #contact-body {
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    #bio-container {
     width: auto;
     left: 10px;
    }

    #bio-container h1 {
      font-size: 3.5rem;
    }

    #bio-container p {
      font-size: 1rem;
    }
    #album-img {
      margin-top: 0px;
      margin-bottom: 0px;
      z-index: -1;
      position: relative;
    }

    #album-info {
      position: static;
      height: auto;
      margin-left: 5.3rem;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 6rem;
     
    }

    .carousel .carousel-inner {
      height: 260px;
      padding-top: 4rem;
      width: 100%;
      }
    
    
    .carousel-inner .carousel-item img {
      min-height:200px;
      width: 100%;
      }

      .container {
      position: relative;
       top: 3rem;
      }
        .carousel-control-prev {
          top: 8rem;
        }

        .carousel-control-next {
          top: 8rem;
        }
      
        .iframe-container {
          overflow: hidden;
          
          padding-top: 56.25%;
          position: relative;
          margin-bottom: 5rem;
        }
         
        .iframe-container iframe {
           border: 0;
           height: 100%;
           left: 0;
           position: absolute;
           top: 0;
           width: 100%;
        }

        footer svg.svg-inline--fa {
          font-size: 2rem;
          margin-top: 0px;
          color: #fafafa;
          padding-top: 0px;
          margin-bottom: 2rem;
        }
}